services:
  dockerlock:
    image: roccolee18/522-group24-bank-marketing:latest
    build:
      context: .
      dockerfile: Dockerfile
    container_name: dockerlock
    ports:
      - "8888:8888"
    volumes:
      - ./:/workspace
    working_dir: /workspace
    stdin_open: true
    tty: true